{%extends '_template.html'%}
{%block Title%}
Lore
{%endblock%}
{%block body%}

<div style="background-color: rgba(64, 107, 80, 0.903)">
    <div class="d-flex justify-content-center p-3">
        <h3 class="display-1"
            style="font-family: 'Luckiest Guy', sans-serif; color:aliceblue; margin-top: 20px; -webkit-text-stroke: 2px rgba(46, 79, 58, 0.903)">
            Embark on a Mythical Journey </h3>
    </div>

    <div style="padding-left: 100px; padding-right: 100px;">
        <ul class="list-group list-group-flush">

            <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">
                The Age of Genesis</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">In
                the time before
                memory, Aurelia was a realm of endless skies and boundless seas,
                a world where the fabric of reality shimmered with raw elemental energy.
                From the cosmic tapestry emerged the Seven Sages, celestial beings of immense wisdom and power.
                With their hands entwined, they conjured the threads of existence, birthing the elements—fire, water,
                earth, air, light, darkness, and ether.</p>

            <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">
                The Unraveling of Harmony</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">For
                eons, the Sages wove
                a symphony of balance, nurturing life, and fostering harmony.
                But a shadow loomed an ancient force known as the Voidwraiths, entities born from the void's depths,
                sought to corrupt the delicate equilibrium. The delicate balance of elements began to fray, threatening
                to plunge Aurelia into chaos.</p>

            <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">
                The Sundering Catalysm</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">In
                a desperate act to
                preserve the realm, the Sages sacrificed their immortal forms,
                dispersing their essence into the elemental fabric. The cataclysmic event, known as the
                Sundering, sundered the world into disparate fragments, each embodying a different aspect
                of the elemental forces.</p>

            <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">
                The Age of Fragmentation</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                Aurelia fractured into
                distinct realms, each governed by a dominant elemental force.
                The Elemental Shards emerged—fragments imbued with the essence of the Sages. Each shard
                developed unique ecosystems, cultures, and civilizations, adapting to the predominant elemental
                influence.
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Pyrosia, the Flamebound Kingdom: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A realm steeped in eternal flames and
                    volcanic landscapes, home to fire-wielding tribes and fiery beasts.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Aquanor, the Realm of Tides: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    An archipelago of waterfalls, vast oceans, and
                    mystical underwater cities, where aquatic creatures thrive.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Terradia, the Earthforged Realms: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A land of sprawling forests, colossal
                    mountains, and underground caverns teeming with life, where earth elementals and druids reign.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Aerathia, the Skyward Dominion: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A realm of endless skies, floating islands,
                    and celestial spires, where winged beings and sky-dwelling civilizations soar.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Luminara, the Realm of Illumination: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A realm bathed in eternal light, filled
                    with radiant cities and enigmatic creatures harnessing the power of illumination.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Umbraia, the Shadows' Enclave: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A realm cloaked in perpetual twilight,
                    harboring mysterious realms, shadowy figures, and eerie whispers.</p>
                </p>
            </div>
            <div style="padding-left: 20px;"">
                    <p style=" font-weight: bold; font-style: italic; margin-bottom: 1px; font-family: 'Inter' ,
                sans-serif; color:aliceblue;">
                -Etheria, the Ethereal Nexus: <p
                    style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
                    A domain existing between realms, a shifting,
                    ethereal plane where elemental energies entwine and fluctuate, creating gateways between the
                    shards.</p>
                </p>
            </div>

            <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">
                Present Epoch</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">In
                the aftermath of the Sundering, these shards endured in isolation, each with its distinct
                societies and challenges. Yet, rumors whisper of a prophecy—a destined convergence foretells the
                reformation of Aurelia, where the elemental shards shall align once more.</p>
            <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">The
                fate of Aurelia now lies in the hands of heroes, as the disparate realms seek to reconnect the
                elemental threads and rekindle the balance disrupted by ancient chaos.</p>
                <div style="height: 20px;"></div>
        </ul>
       
    </div>
</div>

    {%endblock%}