{%extends '_template.html'%}
{%block Title%}
Rules
{%endblock%}
{%block body%}

<div style="background-color: rgba(64, 107, 80, 0.903)">
  <div class="d-flex justify-content-center p-3">
    <h3 class="display-1"
      style="font-family: 'Luckiest Guy', sans-serif; color:aliceblue; margin-top: 20px; -webkit-text-stroke: 2px rgba(46, 79, 58, 0.903)">
      Community Rules</h3>
  </div>

  <div style="padding-left: 100px; padding-right: 100px;">
    <ul class="list-group list-group-flush">

      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Fair Play and
        Respect for Rules</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Do not
        cheat, exploit game
        mechanics, or engage in
        disruptive behavior.
        Report any rule violations you encounter.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Bullying and
        Harassment</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Treat all
        members with kindness
        and respect.
        Do not engage in bullying, harassment, or any behavior intended to harm or intimidate others.
        Always maintain a positive and friendly atmosphere.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Inclusivity
        and
        Tolerance</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Our
        roleplaying community is
        open
        to individuals of all backgrounds and identities.
        Do not engage in any form of discrimination or hate speech based on race, ethnicity, gender, sexual
        orientation, religion, ability, or any other characteristic.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">No Erotic
        Roleplaying</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">We are
        committed to maintaining
        a
        welcoming and inclusive environment for all members and of all ages.
        To ensure that our community remains a safe and comfortable space for everyone, the rule is clear.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Respect for
        Privacy</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Treat all
        members with kindness
        and respect.
        Do not engage in bullying, harassment, or any behavior intended to harm or intimidate others.
        Always maintain a positive and friendly atmosphere.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Impersonation
      </p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Do not
        impersonate other
        members
        or any fictional or real-world personalities.
        Taking credit for someone else's creations or deceiving others is not allowed.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Legal and
        Safe
        Activities</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Do not
        promote, participate in,
        or
        endorse illegal or dangerous activities, including but not
        limited to illegal drug use, gambling, harassment, doxing, or sharing violent content.
        Any threats, even as jokes, are taken seriously.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Scams and
        Deception</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Avoid
        scams and deceptive
        practices.
        Do not seek or share account information, engage in fraudulent trades, or buy/sell personal information.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Content
        Guidelines</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Ensure
        that all content,
        including
        roleplay posts, follows the forum's content guidelines.
        Avoid any content that may disrupt the positive experiences of other members.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Player
        Reporting</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">If you
        encounter a member who
        violates the community rules or disrupts the experience of
        others, report them to the forum moderators using the designated reporting system.
        Blocking is also an option for personal comfort.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Account
        Security</p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">Protect
        your account
        information
        and avoid sharing it with others.
        Suspicious or too-good-to-be-true offers should be treated with caution.
        Do not share your account or the accounts of others.</p>


      <p style="font-weight: bold; margin-bottom: 5px; font-family: 'Inter', sans-serif; color:aliceblue;">Safety
        Measures
      </p>
      <p style="font-weight: lighter; font-family: 'Inter', sans-serif; color:aliceblue; margin-bottom: 20px;">
        Familiarize yourself with the
        safety measures provided by the forum.
        These measures are designed to keep the community safe and secure.
        Take advantage of any tools available for account protection and online safety.
      </p>
        <div style="height: 20px;"></div>
    </ul>
  </div>
</div>
{%endblock%}