{%extends '_template.html'%}
{%block Title%}
World Map
{%endblock%}
{%block body%}

<div class="d-flex justify-content-center p-3">
    <h3 class="display-1"
        style="font-family: 'Luckiest Guy', sans-serif; color:rgba(64, 107, 80, 0.903); margin-top: 20px; -webkit-text-stroke: 1px rgba(46, 79, 58, 0.903)">
        Your nation awaits ...</h3>
</div>

<div>
    <img src="static/assets/Croia.png" class="img-fluid" alt="World Map">
</div>

<div class="d-grid gap-2 d-md-block text-center">
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Maz'">Republic of
        Maz</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Drukh'">Drukh Empire</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Penland'">Principality of
        Penland</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Ledonia'">Principality of
        Ledonia</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Pildock'">Grand Duchy of
        Pildock</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Wigania'">Bishopric of
        Wigania</button>
    <button type=button class="btn btn-success mb-2" ; onclick="location.href='/Worldmap/Horsheadia'">Republic of
        Horsheadia</button>
</div>


{%endblock%}